.file-uploader {
  position: relative;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Helvetica,
    Arial, sans-serif, Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol;
}

.file-uploader--wrapper {
  border-radius: 10px;
  background: #f1f0ef;
  padding: 10px;
}

.file-uploader--browser {
  position: absolute;
  margin: 0;
  padding: 0;
  left: 1em;
  top: 1.75em;
  width: calc(100% - 2em);
  opacity: 0;
  font-size: 0;
}

.file-uploader--drop-label {
  min-height: 4.75em;
  right: 0;
  margin: 0;
  color: #4f4f4f;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 0;
  user-select: none;
  z-index: 5;
}

.file-uploader--drop-label label {
  cursor: default;
  font-size: inherit;
  font-weight: 400;
  text-align: center;
  line-height: 1.5;
  margin: 0;
  padding: 0.5em;
  color: #4f4f4f;
}

.file-uploader--label-action {
  text-decoration: underline;
  text-decoration-skip-ink: auto;
  text-decoration-color: #a7a4a4;
  cursor: pointer;
}

.file-uploader--scroller {
  will-change: transform;
}

.file-uploader--file-list {
  list-style-type: none;
  will-change: transform;
  left: 0.75em;
  right: 0.75em;
}

.file-uploader--item {
  z-index: 1;
  padding: 0;
  margin: 0.25em;
  will-change: transform, opacity;
  height: 44px;
  background-color: #c44e47;
  border-radius: 0.5em;
  padding: 0 0.5625em;
  display: flex;
  align-items: center;
  transform: translate3d(0, 0, 0);
  backface-visibility: hidden;
  perspective: 1000px;

  &.error {
    animation: shake 0.82s cubic-bezier(.36,.07,.19,.97) both;
  }

  &.uploading {
    background-color: #635f5d;
  }

  &.success {
    background-color: #379763;
  }
}

.file-uploader--item-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #fff;
  width: 100%;
}

.file-uploader-file-info-main {
  font-size: 0.75em;
  line-height: 1.2;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  width: 100%;
}

.file-uploader-file-info-sub {
  font-size: 0.625em;
  opacity: 0.5;
  transition: opacity 0.25s ease-in-out;
  white-space: nowrap;
}

.file-uploader--drip {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  overflow: hidden;
  opacity: 0.1;
  pointer-events: none;
  border-radius: 0.5em;
  background: rgba(0, 0, 0, 0.01);
}

.file-uploader--file-action-button {
  cursor: pointer;
  font-size: 1em;
  width: 1.625em;
  height: 1.625em;
  font-family: inherit;
  line-height: inherit;
  margin: 0;
  padding: 0;
  border: none;
  outline: none;
  will-change: transform, opacity;
  color: #fff;
  border-radius: 50%;
  background-color: rgba(0, 0, 0, 0.5);
  background-image: none;
  box-shadow: 0 0 0 0 hsla(0, 0%, 100%, 0);
  transition: box-shadow 0.25s ease-in;

  &[data-align="left"] {
    left: 0.5625em;
    margin-right: 0.5625em;
  }

  &[data-align="right"] {
    right: 0.5625em;
    margin-left: 0.5625em;
  }
}

.process-indicator {
  margin-top: 0px;
  margin-left: 3px;
  color: #fff;
  pointer-events: none;
  will-change: transform, opacity;
  width: 1.25em;
  height: 1.25em;

  svg {
    animation: spin 1s linear infinite;
    width: 100%;
    height: 100%;
    vertical-align: top;
    transform-box: fill-box;
    overflow: hidden;

    path {
      fill: none;
      stroke: currentColor;
    }
  }
}

.file-uploader--file-info {
  margin-right: 2.25em;
  z-index: 100;
  position: static;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  flex: 1 1;
  margin: 0 0.5em 0 0;
  min-width: 0;
  will-change: transform, opacity;
  pointer-events: none;
  user-select: none;

  &[data-align="left"] {
    align-items: flex-start;
    text-align: left;
  }

  &[data-align="right"] {
    align-items: flex-end;
    text-align: right;
    margin-right: 0;
  }
}

.file-uploader-info-text-main {
  font-size: 0.75em;
  line-height: 1.2;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  width: 100%;
}

.file-uploader-info-text-sub {
  font-size: 0.625em;
  opacity: 0.5;
  transition: opacity 0.25s ease-in-out;
  white-space: nowrap;
}

@keyframes shake {
  10%, 90% {
    transform: translate3d(-1px, 0, 0);
  }

  20%, 80% {
    transform: translate3d(2px, 0, 0);
  }

  30%, 50%, 70% {
    transform: translate3d(-4px, 0, 0);
  }

  40%, 60% {
    transform: translate3d(4px, 0, 0);
  }
}

.file-uploader--item-animation-enter {
  transform: translateY(-10px);
  opacity: 0;
}

.file-uploader--item-animation-enter-active {
  transform: translateY(0);
  opacity: 1;
  transition: all 200ms;
}

.file-uploader--item-animation-exit {
  transform: translateY(0);
  opacity: 1;
}


.file-uploader--item-animation-exit-active {
  transform: translateY(-10px);
  opacity: 0;
  transition: all 200ms;
}
